:root{
    --header-height: 3rem;
    --nav-width: 324px;

    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --first-color: #080707;
    --first-color-dark: #8f2d15;
    --first-color-darken: #290f09;
    --text-color: #545454;
    --first-color-light: #eaeaea;
    --first-color-lighten: #ffffff;

    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    --z-fixed: 100;
}
 @media screen and (min-width: 768px){
     :root{
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
     }
 }

 *,::before,::after{
     box-sizing: border-box;
 }

 html{
    scroll-behavior: smooth;
 }

 body{
     margin: var(--header-height)0 0 0;
     font-family: var(--body-font);
     font-size: var(--normal-font-size);
     font-weight: var(--font-medium);
     background-color: var(--first-color-lighten);
     color: var(--text-color);
     line-height: 1.6;
 }
 h1, h2,h3,p{
     margin: 0;
 }
 h3{
     font-weight: var(--font-semi-bold);
 }

 ul{
     margin: 0;
     padding: 0;
     list-style: none;
 }
 a{
     text-decoration: none;
     color: var(--text-color);
 }
 img{
     max-width: 100%;
     height: auto;
     display: block;
 }
 .section{
     padding: 4rem, 0, 2rem;
 }
 .section hr{
    border: none;
    height: 5px;
    width: 100px;
    background-color: black;
    margin-bottom: 50px;
    text-align: left;
}
 .section-title{
     font-size: var(--h1-font-size);
     color: rgb(221, 70, 0);;
     margin-bottom: 0;
     text-align: center;
 }
 .section-subtitle{
     display: block;
     font-size: var(--small-font-size);
     color: var(--first-color-darken);
     text-align: center;
     font-weight: var(--font-bold);
     margin-bottom: .25rem;
 }

 .bd-grid{
     max-width: 1024px;
     display: grid;
     grid-template-columns: 100%;
     column-gap: 2rem;
     width: calc(100% - 2rem);
     margin-left: var(--mb-2);
     margin-right: var(--mb-2);
 }
 .l-header{
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: var(--z-fixed);
     background-color: var(--first-color-lighten);
     box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
 }

 .nav{
     position: fixed;
     background: transparent;
     height: var(--header-height);
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .nav__logo img{
     padding-top: 5px;
     width: 150px;
     height: 100px;
 }
 .nav__menu{
     position: fixed;
     top: 0;
     left: -100%;
     width: 90%;
     height: 100vh;
     padding: 3rem;
     display: flex;
     align-items: center;
     background-color: rgb(34, 33, 31);
     transition: .5s;
 }
 .nav__close{
     position: absolute;
     top: 1rem;
     right: 1rem;
     font-size: 2rem;
     color: var(--first-color-dark);
     cursor: pointer;
 }
 .nav__item{
     margin-bottom: var(--mb-4);
 }
 .nav__link{
     font-size: 1rem;
     text-transform: uppercase;
     color: var(--first-color-lighten);
     font-weight: var(--font-bold);
     transition: .3s;
     padding: 20px;
     line-height: 20px;
 }
 .nav__link:hover{
     color: var(--text-color);
 }
 .nav__toggle{
     color: var(--first-color-dark);
     font-size: 1.3rem;
     cursor: pointer;
 }
.show{
     left: 0;
 }
 .active {
     color: var(--text-color);
 }

 .home__container{
     height: calc(100vh - var(--header-height));
     align-items: center;
     
 }

 .home__data{
     display: flex;
     flex-direction: column;
     align-items: center;
     height: max-content;
     text-align: center;
 }
 .home__img{
     padding-top: .7rem;
     width: 170px;
     height: 170px;
     border: 2px solid wheat;
     border-radius: 50%;
     overflow:hidden ;
     margin-bottom: var(--mb-2);
     background: rgb(221, 70, 0);;
 }

 .home__img img {
     width: 100%;
 }
 .home__title {
     font-size: var(--h1-font-size);
     color: var(--first-color-lighten);
     font-weight: var(--font-semi-bold);
 }
 .home__profession{
     font-size: 19px;
     color: var(--first-color-lighten);
     margin-bottom: var(--mb-5);
 }
 .home__profession .typing{
    font-size: 19px;
    color: var(--first-color-dark);
    margin-bottom: var(--mb-5);
}
 .home__social{
     margin-bottom: 5rem;
 }

 .home__social-link{
     display: inline-flex;
     background-color: transparent;
     color: rgb(255, 255, 255);
     font-size: 1.1rem;
     border-radius: 10%;
     padding: .40rem;
     margin: 0 var(--mb-1);
     transition: .3s;
     border: 1px solid rgb(207, 206, 206);
 }
 .home__social-link:hover{
     background-color: var(--first-color-dark);
 }
 .home__button{
     width: 100%;
 }
 .button{
     display: inline-block;
     background-color: rgb(221, 70, 0);
     color: var(--first-color-lighten);
     padding: 1rem 2rem;
     font-weight: var(--font-semi-bold);
     border-radius: .5rem;
     transition: .3s;
 }
 .button:hover{
     background-color: var(--first-color-darken)
 }
 .about__container{
     row-gap: 2rem;
 }
 .about__data{
     text-align: center;   
 }
 .about__description{
     margin-bottom: var(--mb-4);
 }
 .about__img{
     width: 120px;
     border-radius: 50%;
     margin: 0 auto;
     height: auto;
     background-size: cover;
 }
 .about__information{
     margin-bottom: var(--mb-4);
 }

 .about__information-title{
      font-size: var(--h3-font-size);
      color: var(--first-color-dark);
      margin-bottom: var(--mb-2);
 }
 .about__information-data{
     display: flex;
     align-items: center;
     padding-left: 1.5rem;
     margin-bottom: var(--mb-3);
 }

 .about__information-icon{
     font-size: 1.5rem;
     color: var(--first-color);
     margin-right: var(--mb-4);
 }
 .about__information-subtitle{
     display: block;
     font-weight: var(--font-semi-bold);
 }
 .about__information-subtitle-small{
     font-size: var(--small-font-size);
 }

 
 .education__container{
     row-gap: 0rem;
 }
 .education__content{
     display: grid;
     grid-template-columns: 1fr max-content 1fr;
 }
 .education__year, .education__race{
     font-size: var(--h3-font-size);
     
 }
.education__university, .education__specialty{
    display: block;
    font-size: var(--smaller-font-size);
}

.education__year, .education__university{
    text-align: right;
}

.education__time{
    padding: 0 1rem;
    justify-self: center;
}
.education__rounder{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgb(221, 70, 0);
    border-radius: 50%;
}
.education__rounder::before{
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
}
.education__line{
    display: block;
    height: 70px;
    width: 2px;
    background-color: rgb(221, 70, 0);
    transform: translate(5px, -4px);
}

.services{
        background: rgb(230, 230, 230);
}
.services__container{
    row-gap: 2rem;
    padding-bottom: 50px;
}
.services__content{
    padding: 1.5rem .5rem;
    border: 2px solid var(--first-color);
    border-radius: .5rem;
    text-align: center;
}
.services__icon{
    font-size: 4rem;
    padding: .5rem;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    border-radius: 20%;
    margin-bottom: var(--mb-2);
}
.services__title{
    font-size: 1.25rem;
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}
.services__content, .services__icon, .services__description, .services__title{
    transition: .5s;
}
.services__content:hover{
    background-color: var(--first-color);
}
.services__content:hover .services__icon{
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}
.services__content:hover .services__title{
    color: var(--first-color-lighten);
}
.services__content:hover .services__description{
    color: var(--first-color-lighten);
}

/*Portofolio Section*/

.folio__container{
    row-gap: 2rem;
    padding-bottom: 50px;
}
.folio__content{
    padding: 1rem .5rem;
    border-radius: .5rem;
    text-align: center;
}
.folio__title{
    font-size: 1rem;
    color: var(--first-color-dark);
    margin-bottom: 1px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
.folio__content, .folio__icon, .folio__description, .folio__title{
    transition: .5s;
}
.folio__content:hover{
    background-color: rgb(241, 68, 15);
}
.folio__content:hover .folio__icon{
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}
.folio__content:hover .folio__title{
    color: var(--first-color-lighten);
}
.folio__content:hover .folio__description{
    color: var(--first-color-lighten);
}
.footer{
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    text-align: center;
}
.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}
.footer__description{
    margin-bottom: var(--mb-2);
    color: black;
}
.footer__social{
    margin-bottom: 1rem;
}
.footer__link{
    display: inline-flex;
    background-color: transparent;
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}
.footer__link:hover{
    background-color: rgb(221, 70, 0);
    color: var(--first-color);
}
.footer__copy{
    font-size: var(--smaller-font-size);
}
.contact__container{
    row-gap: 0rem;
}
.contact__data{
    text-align: center;   
}

.contact__information{
    margin-bottom: var(--mb-4);
}

.contact__information-title{
     font-size: var(--h3-font-size);
     color: var(--first-color-light);
     margin-bottom: var(--mb-2);
     text-align: left;
     padding-left: 30px;
}
.contact__information-data{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}

.contact__information-icon{
    font-size: 1.5rem;
    color: var(--first-color-lighten);
    margin-right: var(--mb-4);
}
.contact__information-subtitle{
    display: block;
    font-weight: var(--font-semi-bold);
}
.contact__information-subtitle-small{
    font-size: var(--small-font-size);
}
.copyright__area{
    background-color: black;
    height: 50px;
}
.footer{
    background: var(--first-color-darken);
}
.footer__copy{
    color: white;
    padding: 10px 5px;
    font-size: 15px;
}

@media screen and (min-width: 360px){
    .home{
        background: url("../img/bg1.jpg") no-repeat;
        width: 100%;
        background-size: cover;
    }
    body{
        margin: 0;
    }
}
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .home{
        background: rgba(0, 0, 0, 0.5) url("../img/bg1.jpg") no-repeat;
        width: 100%;
        background-size: cover;
    }
    .home__button{
        width: initial;
    }
    .nav__menu{
        width: var(--nav-width);
    }
    .about__container, .services__container,
    .contact__container, .contact__input, .folio__container{
        grid-template-columns: repeat(2,1fr);
    }
    .about__data{
        text-align: initial;
    }
    .about__description{
        margin-bottom: var(--mb-5);
    }
    .about__img{
        width: 220px;
    }
    .about__information{
        padding-left: 4rem;
    }
    .education__time{
        padding: 0 2rem;
    }
    .footer{
        background: var(--first-color-darken);
    }
    .footer__container{
        background-color: var(--first-color-darken);
        padding: .1rem 0;
        border-radius: .5rem;
    }
}
@media screen and (min-width: 1024px){
    body{
        margin: 0;
        padding-left: var(--nav-width);
    }
    .l-header{
        width: 0;
    }
    .nav__toggle, .nav__close{
        display: none;
    }
    .nav__menu{
        left: 0;
    }
    .home__container{
        height: 100vh;
    }
    .home{
        background: url("../img/bg1.jpg") no-repeat;
        width: 100%;
        background-size: cover;
    }
    .section{
        padding: 3rem 0 0;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;   
    }
    .services__container{
        grid-template-columns: repeat(3,1fr);
    }
    .folio__container{
        grid-template-columns: repeat(3,1fr);
    }
    .footer__container{
        grid-template-columns: repeat(2,1fr);
    }
}